{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Tekton</h1>
                <p>{% trans %}A Full-Stack project for Google App Engine{% endtrans %}</p>
            </div>
        </div>
        <br/>

    </div>
{% endblock %}