{% extends 'chamados/chamado_base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}This is a generic home for chamado_app {% endtrans %}  </h1>
                	<a href="{{ new_path }}" class="btn btn-success">{% trans %}Create New Chamado{% endtrans %}</a>
                <hr/>

                <h2>{% trans %}List of Chamados{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th/>
							<th>{% trans %}Id{% endtrans %}</th>
							<th>{% trans %}Chamado{% endtrans %}</th>
							<th>{% trans %}Empresa{% endtrans %}</th>
							<th>{% trans %}Creation{% endtrans %}</th>
							<th>{% trans %}Tempo Dev.{% endtrans %}</th>
							<th>{% trans %}Data Ini.{% endtrans %}</th>
							<th>{% trans %}Data Fim{% endtrans %}</th>
							<th>{% trans %}Tipo{% endtrans %}</th>
							<th>{% trans %}Status{% endtrans %}</th>
							<th>{% trans %}Responsável{% endtrans %}</th>
							<th>{% trans %}Ordem{% endtrans %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for chamado in chamados_localizados %}
                        <tr>
                        	
                            <td><a href="{{ chamado.edit_path }}" class="btn btn-success btn-sm"><i
                                    class="glyphicon glyphicon-pencil"></i></a></td>   
								<td>{{ chamado.id }}</td>
								<td>{{ chamado.chamado }}</td>
								<td>{{ chamado.empresa }}</td>
								<td>{{ chamado.creation }}</td>
								<td>{{ chamado.tempo_dev }}</td>
								<td>{{ chamado.start_date }}</td>
								<td>{{ chamado.end_date }}</td>
								<td>{{ chamado.tipo }}</td>
								<td>{{ chamado.status }}</td>
								<td>{{ chamado.responsavel }}</td>
								<td>{{ chamado.id_ordem }}</td>
                            {% if chamado.id_ordem > '1' %}
                            <td>
                            	<form action="{{ chamado.priorizar_path }}" method="post"> 
                                              {{ csrf_input() }}
                                    <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-arrow-up"></i></button>
                                </form>
                            </td>
                            {% else %}
	                            <td>
		                            <form action="{{ chamado.priorizar_path }}" method="post"> 
	                                              {{ csrf_input() }}
	                                    <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-minus-sign"></i></button>
	                                </form>
	                            </td>
                            {% endif %}
                            
                            {% if chamado.id_ordem != ultimo_id_ordem %}
                            <td>
                            	<form action="{{ chamado.postergar_path }}" method="post"> 
                                              {{ csrf_input() }}
                                    <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-arrow-down"></i></button>
                                </form>
                            </td>
							{% else %}
	                            <td>
		                            <form action="{{ chamado.postergar_path }}" method="post"> 
	                                              {{ csrf_input() }}
	                                    <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-minus-sign"></i></button>
	                                </form>
	                            </td>
                            {% endif %}
                            
                            <td>
                                <form action="{{ chamado.delete_path }}" method="post" onsubmit="return confirm('{{_('Are you sure to delete? Press cancel to avoid deletion.')}}');">
                                    {{ csrf_input() }}
                                    <button class="btn btn-danger btn-sm"><i
                                            class="glyphicon glyphicon-trash"></i></button>
                                </form>                                
                            </td>
                            

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}